export(grmSE.dicho)
export(grmSE.poly)
export(ipSE.dicho)
export(ipSE.poly)
export(itempar.dicho)
export(itempar.poly)
export(make.incidenz)
export(ppML.dicho)
export(ppWL.dicho)
export(ptbis.dicho)
export(thetaML.dicho)
export(thetaWL.dicho)
exportClasses("ippw ippwpo ipSE ippwpose grmSE grmSEpo thetaMLdicho ppMLdicho thetaWLdicho ppWLdicho")
exportClasses(grmSE)
exportClasses(grmSEpo)
exportClasses(ippw)
exportClasses(ippwpo)
exportClasses(ippwpoSE)
exportClasses(ipSE)
exportClasses(itanaldicho)
exportClasses(ppMLdicho)
exportClasses(ppWLdicho)
exportClasses(thetaMLdicho)
exportClasses(thetaWLdicho)
S3method(plot,grmSE)
S3method(plot,grmSEpo)
S3method(plot,ippw)
S3method(plot,ippwpo)
S3method(plot,ippwpoSE)
S3method(plot,ipSE)
S3method(summary,grmSE)
S3method(summary,grmSEpo)
S3method(summary,ippw)
S3method(summary,ippwpo)
S3method(summary,ippwpoSE)
S3method(summary,ipSE)
S3method(summary,ppMLdicho)
S3method(summary,ppWLdicho)
