export(grmSE.dicho)
export(grmSE.poly)
export(ipSE.dicho)
export(ipSE.poly)
export(itempar.dicho)
export(itempar.poly)
exportClasses("ippw ippwpo ipSE ippwpose grmSE grmSEpo")
exportClasses(grmSE)
exportClasses(grmSEpo)
exportClasses(ippw)
exportClasses(ippwpo)
exportClasses(ippwpose)
exportClasses(ipSE)
S3method(plot,grmSE)
S3method(plot,grmSEpo)
S3method(plot,ippw)
S3method(plot,ippwpo)
S3method(plot,ippwpose)
S3method(plot,ipSE)
S3method(summary,ippw)
S3method(summary,ippwpo)
S3method(summary,ippwpose)
S3method(summary,ipSE)
