S3method(logLik,pers)
S3method(plot,grm)
S3method(plot,pair)
S3method(plot,pairSE)
S3method(plot,pers)
S3method(plot,rfa)
S3method(summary,grm)
S3method(summary,q3)
S3method(summary,pair)
S3method(summary,pairS)
S3method(summary,pairSE)
S3method(summary,pifit)
S3method(summary,ppfit)
S3method(summary,pers)
S3method(summary,rfa)
export(Q)
export(andersentest.pers)
export(catprob)
export(deltapar)
export(esc)
export(ftab)
export(gif)
export(grm)
export(iff)
export(lrtest.pers)
export(make.incidenz)
export(pair)
export(pairSE)
export(pairwise.S)
export(pairwise.item.fit)
export(pairwise.person.fit)
export(pers)
export(ptbis)
export(q3)
export(rfa)
export(simra)
export(tff)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,hist)
importFrom(graphics,layout)
importFrom(graphics,lines)
importFrom(graphics,matlines)
importFrom(graphics,matplot)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(graphics,rect)
importFrom(graphics,segments)
importFrom(graphics,symbols)
importFrom(graphics,text)
importFrom(graphics,title)
importFrom(methods,is)
importFrom(stats,aggregate)
importFrom(stats,complete.cases)
importFrom(stats,cor)
importFrom(stats,cov)
importFrom(stats,median)
importFrom(stats,na.omit)
importFrom(stats,pchisq)
importFrom(stats,pnorm)
importFrom(stats,rnorm)
importFrom(stats,sd)
importFrom(stats,var)
importFrom(utils,combn)
